.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff3f0;
  padding: 30px 30px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo a {
  text-decoration: none;
  font-size: 25px;
}
.logo a span:nth-child(1) {
  color: #4ad0f8;
}
.logo a span:nth-child(2) {
  color: #fdd36e;
}
.logo a span:nth-child(3) {
  color: #4a7cf8;
}
.logo a span:nth-child(4) {
  color: #fd6e94;
}
.logo a span:nth-child(5) {
  color: #4a7cf8;
}
.logo a span:nth-child(6) {
  color: #4ad0f8;
}
.logo a span:nth-child(7) {
  color: #fdd36e;
}
.logo a span:nth-child(8) {
  color: #fd6e94;
}
.logo a span:nth-child(9) {
  color: #4a7cf8;
}
.nav {
  display: flex;
  align-items: center;
}
nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #2d2c57;
  font-size: 16px;
}
.tgs a {
  padding: 8px 20px;
}
.tgs a:hover {
  color: white;
  background-color: #fd6e94;
  padding: 8px 20px;
  border-radius: 10px;
  transition: all 0.5s;
}
.active {
  color: white;
  background-color: #fd6e94;
  padding: 8px 20px;
  border-radius: 10px;
}
.action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.iconbutton {
  background-color: #fdd9d9;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn {
  background-color: #3d4eb4;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 100px;
}
/*Responsive design*/
@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo a {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
  }

  nav a {
    margin: 10px 0;
    font-size: 14px;
  }

  .action {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
  }

  .btn {
    padding: 8px 15px;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .header {
    display: flex;
    justify-content: center;
    padding: 20px 15px;
  }

  .logo a {
    font-size: 18px;
  }

  .btn {
    padding: 8px 12px;
    font-size: 13px;
  }

  .iconbutton {
    width: 35px;
    height: 35px;
  }

  nav a {
    font-size: 13px;
  }
}
